body{
    font: normal 14pt Arial;
    color:white;
    background-color: dimgrey;
}

header{
    text-align: center;
}

section{
    color: rgb(37, 37, 37);
    background: white;
    border-radius: 40px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
    padding: 20px;
    width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer{
    font-style: oblique;
    text-align: center;    
}

img{
    border-radius: 100%;
    width: 250px;
}